@import "@/styles/colors";

.root {
	display: flex;
	box-shadow: 
		0 -1px 0 rgba($gray4, 0.8),
		0 1px 0 rgba($gray4, 0.8);
	background-color: $white;
}

.cellContainer {
	display: flex;
	align-items: center;
	flex-grow: 1;
}

.sortable {
	background-color: $white;
	cursor: grab;

	&:hover {
		background-color: rgba($blue2, 0.2);
		transition-property: background-color;
		transition-duration: 0.2s;
		transition-timing-function: ease-in;
	}
}
