.regionDropdownContainer {
	position: relative;

	&::before {
		content: "";
		position: absolute;
		height: 0;
		width: 0;
		border-left: 6px solid transparent;
		border-right: 6px solid transparent;
		border-top: 6px solid var(--text-muted);
		top: 15px;
		right: 15px;
		transform: translate(50%, -50%);
		pointer-events: none;
		z-index: 1;
	}
}

.regionDropdown {
	appearance: none;
	width: 100%;
	height: 30px;
	padding-left: 6px;
	border: none;
	border-radius: 3px;
	outline: none;
	box-shadow: var(--input-shadow);
	background-color: #fff;
	color: #000;

	&:focus {
		box-shadow: var(--focus-shadow-primary);
	}

	& > option:first-child {
		color: var(--text-muted);
	}
}

.success {
	.regionDropdown:focus {
		box-shadow: var(--focus-shadow-success);
	}
}

.warning {
	.regionDropdown:focus {
		box-shadow: var(--focus-shadow-warning);
	}
}

.danger {
	.regionDropdown:focus {
		box-shadow: var(--focus-shadow-danger);
	}
}
