@import "@/styles/colors";

.root {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.alert {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	width: 400px;
	margin: 30px 0;
	padding: 20px;
	border-radius: 6px;
	box-shadow:
		0 0 0 1px rgba($black, 0.1),
		0 4px 8px rgba($black, 0.2),
		0 18px 46px 6px rgba($black, 0.2);
	background-color: $white;
}

.footer {
	display: flex;
	flex-direction: row-reverse;
	margin-top: 10px;
}

.button {
	margin-left: 10px;
}
