@import "@/styles/colors";

.header {
	display: flex;
}

.resizing {
	position: absolute;
	top: 0;
	height: 100%;
	width: 1px;
	background-color: $blue5;
	z-index: 20;

	&::before {
		position: absolute;
		left: -1px;
		content: "";
		height: 40px;
		width: 3px;
		background-color: $blue5;
	}
}
