$zIndex: 20;

.backdrop {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(16,22,26,.7);
	user-select: none;
	z-index: $zIndex;
}

.content {
	position: fixed;
	z-index: $zIndex;
}
