@import "@/styles/colors";
@import "@/styles/functions";

.inputContainer {
	display: block;
	position: relative;
}

.leftContainer, .rightContainer {
	position: absolute;
	top: 0;
	z-index: 1;
}

.leftContainer {
	left: 0;
}

.rightContainer {
	right: 0;
}

.textInput {
	position: relative;
	box-sizing: border-box;
	padding: 0 10px;
	height: 30px;
	width: 100%;
	border: none;
	border-radius: 3px;
	outline: none;
	box-shadow: $inputShadow;
	background: #fff;
	line-height: 30px;
	font-size: 14px;
	font-weight: 400;

	&:not(:first-child) {
		padding-left: 30px;
	}

	&:not(:last-child) {
		padding-right: 30px;
	}

	&:focus {
		box-shadow: focusShadow($blue3);
	}
}

.success {
	.textInput:focus {
		box-shadow: focusShadow($green3);
	}
}

.warning {
	.textInput:focus {
		box-shadow: focusShadow($orange3);
	}
}

.danger {
	.textInput:focus {
		box-shadow: focusShadow($red3);
	}
}

.disabled {
	& .textInput {
		background-color: rgba($lightGray1, 0.6);
		color: rgba($gray1, 0.6);
	}
}
