@import "./colors.scss";

:root {
	--bg-disabled: #{$bgDisabled};
	--text-disabled: #{$textDisabled};
	--text-muted: #{$textMuted};

	--focus-shadow-primary: #{$focusShadowPrimary};
	--focus-shadow-success: #{$focusShadowSuccess};
	--focus-shadow-warning: #{$focusShadowWarning};
	--focus-shadow-danger: #{$focusShadowDanger};

	--primary: #{$primary};
	--success: #{$success};
	--warning: #{$warning};
	--danger: #{$danger};
}

* {
	font-family: Roboto;
}
