@import "@/colors";

:export {
	bgDisabled: $bgDisabled;
	inputShadow: $inputShadow;
	textDisabled: $textDisabled;
	textMuted: $textMuted;

	focusShadowPrimary: $focusShadowPrimary;
	focusShadowSuccess: $focusShadowSuccess;
	focusShadowWarning: $focusShadowWarning;
	focusShadowDanger: $focusShadowDanger;
}
